@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Noto+Sans|Open+Sans:500,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
@font-face {
	font-family: "AlfaSlabOne";
	src: url("../assets/alfaslabone_regular.ttf");
}

BODY {
	background-color: whitesmoke;
}


.navbar {
	display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
    position: sticky;
    top: 0px;
    padding-bottom: 8px;
	background-color: #FFA384;
  z-index: 1;
  }

.navbar a {
  	color: #FF3131;
  	text-decoration: none;
	padding-right: 60px;
	font-size: 1em;
}

.logo{
    margin-right: 50px;
    flex: 1;
	
}

.navlogo {
  cursor: pointer;
  padding: 1vw;
	margin-left: 20px;
  height: 10vw;
  width: auto;
}

.list{
    list-style: none;
    display: flex;
    column-gap:  25px;
	font-family: "AlfaSlabOne";
}

.list a:hover, a.active{
   	color: maroon;
    cursor: pointer;
	text-decoration: underline;
}
.toggle-button {
    display: none;
  }

  @media screen and (max-width: 954px) {
    .logo{
        margin-right: 10px;
    }
    .list{
        margin-left: 10vw;
    }
}

  @media screen and (max-width: 768px) {
      .tabs {
        display: none;
      }
      .toggle-button {
        display: block;
        background-color: transparent;
        border: none;
        font-size: 24px;
        cursor: pointer;
        grid-column: 2 / span 1;
      }
      .tabs.show {
        display: block;
      }
      .list {
        display: block; /* Hide the list by default */
        position:absolute; /* Position the list absolutely */
        top: 100%; /* Position the list below the menu button */
        left: 0; /* Align the list with the left edge of the button */
        width: 100%; /* Set the width to match the button's width */ 
        background-color: #FFA384;
        padding: 0; /* Remove any default padding */
        margin-left: 0; /* Remove any default margin */
      }
      
      .list a {
        display: block; /* Display list items as block elements */
        padding: 10px; /* Add some padding to the list items */
      }
      
      .toggle-button:checked + .tabs .list {
        display: block; /* Display the list when the toggle button is checked */
      }
  }
  @media screen and (max-width: 600px) {
    .list {
      font-size: .6em;
    }
}


.wrapper{
    background-image: url(../assets/cleo-backdrop.png);
    background-size: repeat;
}
.shade{
    background-color: rgba(255, 255, 255, 0.5);
}

.wrapper h1{
    padding: 40px;
    font-family: "AlfaSlabOne";
    font-size: 32px;
    color: maroon;
}
.cart{
  display:block;
  background-color: rgba(255, 255, 255, 0.902);
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;

}
.project {
    display: flex;
    }
    #shop {
    flex: 75%;
    }
    #shop h1{
      font-family: "AlfaSlabOne";
      text-align: center;
      font-size: 3vw;
      color: black;
    }
    .box {
    display: flex;
    width: 90%;
    height: 200px;
    overflow: hidden;
    margin-bottom: 20px;
    margin-left:40px;
    background: whitesmoke;
    transition: all .6s ease;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 10px;
    }
    .box:hover {
    border: none;
    transform: scale(1.01);
    }
    .rowimg {
    width: 200px;
    height: 200px;
    object-fit:cover;
    }
    
    .content {
    padding: 20px;
    width: 100%;
    position: relative;
    font-family:'Courier New', Courier, monospace;
    }
    .content h3 {
    margin-bottom: 30px;
    }
    .content h4 {
    margin-bottom: 50px;
    }
    .btn-area {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 25px;
    background-color: #FFA384;
    color: maroon;
    cursor: pointer;
    border-radius: 5px;
    font-family: "AlfaSlabOne";
    }
    .btn-area:hover {
    background-color: maroon;
    color: #FFA384;
    font-weight: 600;
    }
    .unit input {
    width: 40px;
    padding: 5px;
    text-align: center;
    }
    .btn-area i {
    margin-right: 5px;
    }
    .right-bar {
    flex: 25%;
    margin-left: 20px;
    padding: 20px;
    height: 100%;
    margin-right: 20px;
    border-radius: 5px;
    background: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 10px;
    }
    .right-bar ul{
      font-family: 'Courier New', Courier, monospace;
    }
    
    .right-bar hr {
    margin-bottom: 25px;
    }
    .right-bar p {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    }
    .right-bar a {
    background-color: #FFA384;
    color: maroon;
    font-family: "AlfaSlabOne";
    text-decoration: none;
    display: block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-weight: 900;
    }
    .right-bar i {
    margin-right: 15px;
    }
    .right-bar a:hover {
    background-color: #3972a7;
    }

    /* Mobile styles */
@media screen and (max-width: 767px) {
    .project {
      flex-wrap: wrap;
    }
    .shop {
      flex: 100%;
    }
    .right-bar {
      flex: 100%;
      margin: 20px 0;
    }
  }
  
  /* Tablet styles */
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .project {
      flex-wrap: wrap;
    }
    .shop {
      flex: 100%;
    }
    .right-bar {
      flex: 100%;
      margin: 20px 0;
    }
    .box {
      margin-left: 0;
    }
  }
  
  /* Desktop styles */
  @media screen and (min-width: 1024px) {
    .project {
      flex-wrap: nowrap;
    }
    .shop {
      flex: 75%;
    }
    .right-bar {
      flex: 25%;
      margin-left: 20px;
      margin-right: 20px;
    }
    .box {
      margin-left: 40px;
    }
  }
  
  
.footer{
  padding: 20px 15%;
  color: maroon;
  background-color:#FFA384;
  display: flex;

}

.footer div{
  text-align: center;
}

.col-2{
  flex-grow: 2;
}

.col-2 p {
  color:maroon;
  font-style: italic;
  font-weight: 500;

}

.footer div h3{
  font-weight: 700;
  letter-spacing: 0.01em;
  font-size: 1.8em;
  font-family: "AlfaSlabOne";
}

.social-icons{
  justify-content: space-evenly;
  font-size: 2em;
}

