@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Noto+Sans|Open+Sans:500,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
@font-face {
	font-family: "AlfaSlabOne";
	src: url("../assets/alfaslabone_regular.ttf");
}

BODY {
	background-color: whitesmoke;
  overflow-x: hidden;
}


.navbar {
	display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
    position: sticky;
    top: 0px;
    padding-bottom: 8px;
	background-color: #FFA384;
  z-index: 1;
  }

.navbar a {
  	color: #FF3131;
  	text-decoration: none;
	padding-right: 60px;
	font-size: 1em;
}

.logo{
    margin-right: 50px;
    flex: 1;
	
}

.navlogo {
  cursor: pointer;
  padding: 1vw;
	margin-left: 20px;
  height: 10vw;
  width: auto;
}

.list{
    list-style: none;
    display: flex;
    column-gap:  25px;
	font-family: "AlfaSlabOne";
}

.list a:hover, a.active{
   	color: maroon;
    cursor: pointer;
	text-decoration: underline;
}
.toggle-button {
    display: none;
  }

  @media screen and (max-width: 954px) {
    .logo{
        margin-right: 10px;
    }
    .list{
        margin-left: 10vw;
    }
}

  @media screen and (max-width: 768px) {
      .tabs {
        display: none;
      }
      .toggle-button {
        display: block;
        background-color: transparent;
        border: none;
        font-size: 24px;
        cursor: pointer;
        grid-column: 2 / span 1;
      }
      .tabs.show {
        display: block;
      }
      .list {
        display: block; /* Hide the list by default */
        position:absolute; /* Position the list absolutely */
        top: 100%; /* Position the list below the menu button */
        left: 0; /* Align the list with the left edge of the button */
        width: 100%; /* Set the width to match the button's width */ 
        background-color:#FFA384;
        padding: 0; /* Remove any default padding */
        margin-left: 0; /* Remove any default margin */
      }
      
      .list a {
        display: block; /* Display list items as block elements */
        padding: 10px; /* Add some padding to the list items */
      }
      
      .toggle-button:checked + .tabs .list {
        display: block; /* Display the list when the toggle button is checked */
      }
  }
  @media screen and (max-width: 600px) {
    .list {
      font-size: .6em;
    }
}


.wrapper{
    background-image: url(../assets/cleo-backdrop.png);
    background-size: contain;
}
.shade{
    background-color: rgba(255, 255, 255, 0.5);
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  

 
  .right-bar {
    flex: 50%;
    margin-left: 20px;
    padding: 50px;
    height: 95%;
    margin-right: 20px;
    border-radius: 5px;
    background: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 10px;
    }
    .right-bar hr {
    margin-bottom: 25px;
    }
    .right-bar p {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    }
    .right-bar a {
    background-color: #FFA384;
    color: maroon;
    font-family: "AlfaSlabOne";
    text-decoration: none;
    display: block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-weight: 900;
    }
    .right-bar i {
    margin-right: 15px;
    }
    .right-bar a:hover {
    background-color: #3972a7;
    }
  
.col-25 li{
  font-family: 'Courier New', Courier, monospace;
}
  .col-50 {

    flex: 50%;
  }

  .col-50 #cod{
    width: 20% ;
  }
  .col-50 #gcash{
    width: 30% ;

  }.col-50 #bank{
    width: 20% ;
  }

  .col-75 {

    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .container {
    margin: 10px ;
    background-color: whitesmoke;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  h3{
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
  }
  label {
    margin-bottom: 10px;
    display: block;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn {
    background-color: #FFA384;
    font-family: 'Courier New', Courier, monospace;
    color: maroon;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: maroon;
    color:#FFA384;
  }
  
  span.price {
    float: right;
    color: grey;
  }

  
.footer{
  padding: 20px 15%;
  color: maroon;
  background-color:#FFA384;
  display: flex;

}

.footer div{
  text-align: center;
}

.col-2{
  flex-grow: 2;
}

.col-2 p {
  color:maroon;
  font-style: italic;
  font-weight: 500;

}

.footer div h3{
  font-weight: 700;
  letter-spacing: 0.01em;
  font-size: 1.8em;
  font-family: "AlfaSlabOne";
}

.social-icons{
  justify-content: space-evenly;
  font-size: 2em;
}

